.horizontal-space {
    padding: 0 20px;
}

.search-form {
    width: 50%;
    margin: 0 auto;
}

.search-form__btn {
    flex: 0.15;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form__input-field {
    flex: 0.85;
}

.search-form__row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    margin-bottom: 15px;
}

.loader-container {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-pagination-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.table-pagination-links__item {
    color: #ee6e73;
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.table-pagination-links__item:last-child {
    margin-right: 0;
}

.table-pagination-links__item--page {
    color: #000;
    cursor: auto;
}

.table-pagination-links__item--disabled {
    opacity: 0.5;
    pointer-events: none;
}

@media screen and (max-width: 920px) {
    .search-form {
        width: 95%;
    }
}